<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <form action="/edit/product/{{product[3]}}" method="POST">

        <input type="text" name="name" value="{{product[0]}}" placeholder="name">
        <input type="text" name="price" value="{{product[1]}}" placeholder="price">
        <input type="text" name="stock" value="{{product[2]}}" placeholder="stock">
        <input type="submit" value="EDITAR">

    </form>

</body>

</html>